<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="login-form">
                    <%- include('../includes/error-display.ejs', {errorMessage: errorMessage}) %>
                        <h1>Account Login</h1>
                </div>
                <form class="login-form" action="/login" method="POST">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%= oldInput.email %>">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" value="<%= oldInput.password %>">
                    </div>
                    <%- include('../includes/token.ejs') %>
                        <button class="form-myButton" type="submit">Login</button>
                </form>
                <br/>
                <div class="centered">
                    <a href="/reset">Reset Password</a> &nbsp; &nbsp;
                    <a href="/signup">Signup</a>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>