<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <img alt="Wallaby Designs logo" class="logo" src="/images/wallaby.svg">
        <ul class="main-header__item-list" style="width: 100%;">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>

            <% if (isLoggedIn){ %>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
                </li>
                <% } %>
                    <li class="main-header__item" style="color: white;">
                        |
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/prove02' ? 'active' : ''%>" href="/prove02">Prove 02</a>
                    </li>
        </ul>
        <div style="position: absolute; right: 20px;">
            <ul class="main-header__item-list">
                <% if (!isLoggedIn){ %>
                    <li class="main-header__item">
                        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <% } else { %>
                        <li class="main-header__item" style="position: relative; top: 1em;">
                            <a class="<%= path === '/login' ? 'active' : '' %>" href="/logout">Log Out</a>
                        </li>
                        <li class="main-header__item" style="color: white; position: relative; top: 1em;">
                            |
                        </li>
                        <li class="main-header__item">
                            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders" style="display: flex; flex-direction: row; position: relative; top: 1em;">Orders</a>
                        </li>
                        <li class="main-header__item">
                            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart" style="display: flex; flex-direction: row;">
                                <img alt="cart" class="cart" src="/images/icons/cart.svg" style="padding-right: 5px;">
                                <p>Cart</p>
                            </a>
                        </li>
                        <% } %>

            </ul>
        </div>
    </nav>
</header>


<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
        </li>
    </ul>
</nav>